/* theme.css - Custom styles for the React Material Pokémon Site */

/* Importing Bootstrap Material Design base styles */
@import 'bootstrap-material-design/dist/css/bootstrap-material-design.min.css';

/* Define colors for Pokémon types */
:root {
  --type-bug: #A8B820;
  --type-dark: #705848;
  --type-dragon: #7038F8;
  --type-electric: #F8D030;
  --type-fairy: #EE99AC;
  --type-fighting: #C03028;
  --type-fire: #F08030;
  --type-flying: #A890F0;
  --type-ghost: #705898;
  --type-plant: #78C850;
  --type-ground: #E0C068;
  --type-ice: #98D8D8;
  --type-neutral: #A8A878;
  --type-poison: #A040A0;
  --type-psychic: #F85888;
  --type-rock: #B8A038;
  --type-steel: #B8B8D0;
  --type-water: #6890F0;
  --type-paper: #FFFFFF;
  --type-plastic: #B5651D;
  --type-salt: #FFFFFF;
  --type-rubber: #808080;
  --type-sugar: #FFFFFF;
}

/* Header styles */
.header .navbar {
  background-color: #2196F3!important; /* Blue color for the header */
}

.navbar-brand .badge {
  background: #ff9800 !important;
  color: #000000de !important;
  border: 1px solid;
  border-radius: 3px !important;
}

.header .badge {
  padding: 5px 10px;
  font-size: 0.8em;
}

.year-group {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

/* Pokémon list styles */
.pokemon-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-item {
  margin: 10px;
  padding: 10px 10px 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
  text-align: center;
}

.pokemon-item img {
  width: 100%;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.pokemon-item .type {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.type-badge{border-radius:5px;padding:3px;border:1px solid;white-space:nowrap;margin-right:5px;text-decoration:none;color:initial}
.type-badge:hover{color:initial;text-decoration:none}

/* Dynamically assign background colors based on Pokémon type */
.type-bug { background-color: var(--type-bug) }
.type-dark { background-color: var(--type-dark) }
.type-dragon { background-color: var(--type-dragon) }
.type-electric { background-color: var(--type-electric) }
.type-fairy { background-color: var(--type-fairy) }
.type-fighting { background-color: var(--type-fighting) }
.type-fire { background-color: var(--type-fire) }
.type-flying { background-color: var(--type-flying) }
.type-ghost { background-color: var(--type-ghost) }
.type-plant { background-color: var(--type-plant) }
.type-ground { background-color: var(--type-ground) }
.type-ice { background-color: var(--type-ice) }
.type-neutral { background-color: var(--type-neutral) }
.type-poison { background-color: var(--type-poison) }
.type-psychic { background-color: var(--type-psychic) }
.type-rock { background-color: var(--type-rock) }
.type-steel { background-color: var(--type-steel) }
.type-water { background-color: var(--type-water) }
.type-paper { background-color: var(--type-paper) }
.type-plastic { background-color: var(--type-plastic) }
.type-salt { background-color: var(--type-salt) }
.type-rubber { background-color: var(--type-rubber) }
.type-sugar { background-color: var(--type-sugar) }

.type-matchups {
  display: flex;
  justify-content: space-between;
}
.type-matchups h3 {
  margin-bottom: 10px;
}
.type-matchups a {
  margin-right: 10px;
}

/* Search component styles */
.search {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.search input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search button {
  padding: 10px;
  background-color: #4CAF50; /* Green color for the search button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Type page styles */
.type-page {
  padding: 20px;
}

.type-page .pokemon-type-header {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Description styles */
.pokemon-description p {
  margin: 10px 0;
}

.chartyears {
  background: #121435;
}
.chartyears p {
  color: #ff5722;
  font-family: Arvo Bold;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 0;
  padding-bottom: 25px;
  position: relative;
  top: 33px;
  left: 15px;
}

.footer {
  background-color: #2196F3!important; /* Blue color for the header */
}